
.divMain{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.divMainDM{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color:rgb(15,6,25) ;
}  
.forma{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    width:100%;
    height: 100%;
    /*margin-left: 32.5%;
    margin-right: 32.5%;*/
    margin-top:5%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);  
}
.formaDM{
    display: flex;
    flex-direction: column;
    background-color:rgb(46, 45, 45);
    width:80%;
    height: 80%;
    /*margin-left: 32.5%;
    margin-right: 32.5%;*/
    margin-top:5%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    border-radius: 10px;
    box-shadow:  0 8px 16px 0 rgb(161,34,161), 0 6px 20px 0 rgb(161,34,161);
}

.GlavniDiv{
      height: 100%;
}
.GlavniDivDM{
    height: 100%;
    color :white;
}
.naslovSignup{
    font-size: large;
    font-weight: bold;
    font-style: italic;
}
.divSignUpText{
      background-color: rgb(161,34,161);
      height: 8%;
      border-radius: 10px;
      text-align: center;
      justify-content: center;
}
.naslov{
      font-weight: bold;
      font-size: 25px;
      margin-top: 20%;
}
.inputUserSignUp{
    margin-top: 12.5%;
}
.inputPassSignUp ,.inputEmailSignUp {
    margin-top: 2.5%;
}
.BtnSignUp{
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 80px;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*background-color: rgb(161, 17, 161);*/
    background-color: rgb(161,34,161);
    color: aliceblue;
    box-shadow:  0 8px 16px 0 rgb(161,34,161), 0 6px 20px 0 rgb(161,34,161);
    margin-top: 15%;
    margin-bottom: 0%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    border-radius: 25px;
}
.BtnSignUp:hover  {
    background-color: rgb(219,134,219)
}
.BtnSignUp:active {
    background-color: rgb(219,134,219);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}   